<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post">
<input name="utf8" type="hidden" value="✓">
<input type="hidden" name="authenticity_token" value="2+58ViJcnJwy91kfTtGsxoRD0tcwYetpsZ9DliZua1YJnqCrs05SM5dIbALo6PmX56Rdmg0csFto2ZRfiWBlvQ==">
  

  <div class="field">
    <label for="user_email">Email</label><br>
    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="field">
    <label for="user_password">Password</label>
    <em>(6 characters minimum)</em>
    <br>
    <input autocomplete="new-password" type="password" name="user[password]" id="user_password">
  </div>

  <div class="field">
    <label for="user_password_confirmation">Password confirmation</label><br>
    <input autocomplete="new-password" type="password" name="user[password_confirmation]" id="user_password_confirmation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
  </div>
</form>








<form id="new_user" class="new_user" action="/users" accept-charset="UTF-8" method="post">
<input name="utf8" type="hidden" value="✓">
<input type="hidden" name="authenticity_token" value="vH8Yur3UdyQ0vUssIT63g5vqof7TvhKqWwXpb4wfS4ZuD8RHLMa5i5ECfjGHB+LS+A0us+7DSZiCQz6mIxFFbQ==">



  <div class="field">
    <label for="recource_name_email">Email</label><br>
    <input autofocus="autofocus" autocomplete="email" type="email" value="" name="recource_name[email]" id="recource_name_email">
  </div>

  <div class="field">
    <label for="recource_name_password">Password</label>
    <em>(6 characters minimum)</em>
    <br>
    <input autocomplete="new-password" type="password" name="recource_name[password]" id="recource_name_password">
  </div>

  <div class="field">
    <label for="recource_name_password_confirmation">Password confirmation</label><br>
    <input autocomplete="new-password" type="password" name="recource_name[password_confirmation]" id="recource_name_password_confirmation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
  </div>
</form>