<div class="text-center">
  <%= image_tag @users_show.image.url, class: "avatar" %>
</div>
<div class="text-center" id="user-description">
  <%= @users_show.nickname %>
  <% if user_signed_in? %>
    <div id="follow_form">
      <% if current_user.following?(@users_show )%>
        <div class='btn btn-default' id='liked'>
          いいね済
        </div>
      <% else %>
      <%= render 'follow', {relationship: @relationship} %>
      <% end %>
    </div>
  <% end %>

</div>
<div id="wrap">
  <div id="left-bg"></div>
  <div id="right-bg"></div>
</div>