<%# いいねしたユーザー達 %>
<%= render partial: "header" %>

<div class='topTitle'>
  いいねしたユーザー一覧
</div>

<div class='usersIndex'>
  <% @users_followerPage.followed_user.where.not(id: current_user.id).each do |user| %>
     <div class='usersIndex__userbox'>
      <div class='usersIndex__userbox__img'>
        <%=link_to image_tag(user.image.url, class:'userImg'),user_path(user[:id]) %>
      </div>
      <div class='usersIndex__userbox__name'>
        <%=user.nickname%>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: "footer" %>