<%# いいねしたユーザー達 %>
<%= render partial: "header" %>

<div class='topTitle'>
  マッチングしたユーザー一覧
</div>

<div class='usersIndex'>
  <% @users_followerFollowedPage.followed_user.where.not(id: current_user.id).each do |user| %>
    <%if current_user.followed?(user) && current_user.follower?(user)%>
     <div class='usersIndex__userbox'>
      <div class='usersIndex__userbox__img'>
        <%=link_to image_tag(user.image.url, class:'userImg'),user_path(user[:id]) %>
      </div>
      <div class='usersIndex__userbox__name'>
        <%=user.nickname%>
      </div>
    </div>
    <%end%>
  <% end %>
</div>


<%= render partial: "footer" %>
