<footer>
  <div class='footer__box'>
    <div class='footer__box__center'>
      <div class='footer__box__center__lookBtn icon'>
        探す
      </div>
      <div class='footer__box__center__opponentNiceBtn icon'>
        いいね
      </div>
      <div class='footer__box__center__messageBtn icon'>
        メッセージ
      </div>
      <div class='footer__box__center__otherBtn icon'>
        その他
      </div>
    </div>
  </div>
</footer>