<footer>
  <div class='footer__box'>
    <div class='footer__box__center'>
      <div class='footer__box__center__lookBtn lookBtn icon'>
        <%= link_to image_tag("/assets/search.png"), root_path, class:'loIcon' %>
      </div>
      <div class='footer__box__center__opponentNiceBtn opponentNiceBtn icon'>
        <%= link_to image_tag("/assets/good.png"),   root_path, class:'opIcon' %>
      </div>
      <div class='footer__box__center__messageBtn messageBtn icon'>
        <%= link_to image_tag("/assets/talk.png"),   root_path, class:'meIcon' %>
      </div>
      <div class='footer__box__center__otherBtn otherBtn icon'>
        <%= link_to image_tag("/assets/other.png"),  root_path, class:'otIcon' %>
      </div>
    </div>
  </div>
</footer>