<header>
  <div class='header__box'>
    <div class='header__box__left'>
      <div class='header__box__left__title'>
        <img src="assets/logo1.png" alt="ロゴの画像" class='logo_img' >
      </div>
      <div class='header__box__left__img'>
      </div>
    </div>
    <div class='header__box__right'>
      <div class='header__box__right__myPage'>
        <span><img src="assets/arrow.png" alt="矢印の画像" class='arrow'></span>
        <ul class="more_list">
          <%= link_to 'マイページ'%>
          <%= link_to 'ログアウト'%>
          <%= link_to '相手からのいいね'%>
          <%= link_to 'お気に入り'%>
        </ul>
      </div>
    </div>
  </div>
</header>