.follow-btnBox {
  display: inline-block;
  height: 40px;
  width: 120px;
  margin: 20px 0 25px 0;
  border-radius: 8px;
  background-color: gainsboro;
  border: solid 1px black;
  text-align: center;
  line-height: 40px;
  &__btn {
    color: black;
    text-decoration: none;
  }
  .folloringBtn {
    color: white;
  }
}
.folloringBtnBox {
  background-color: rgb(0, 179, 255);
}
.follow-btnBoxEmpty {
  height: 80px;
}