footer {
  width            : 100%;
  background-color : rgb(250, 255, 255);
  height           : 60px;
  position         : fixed;
  bottom           : 0;
  border           :solid 0.1px rgb(158, 158, 158);
}

.footer__box {
  &__center {
    display        : flex;
    justify-content: center;
    line-height    : 60px;
  }
  
  .lookBtn {
    width          : 33px;
    margin-right   : 47px;
  }
  .opponentNiceBtn {
    width          : 35px;
    margin-right   : 39px;
  }
  .messageBtn {
    width          : 52px;
    margin-right   : 34px;
  }
  .otherBtn {
    width          : 47px;
  }

}
