.header__box {
    width             : 100%;
    height            : 80px;
    background        : linear-gradient(rgb(0, 255, 255),rgb(237,250,255));
    display           : flex;
    justify-content   : space-between;
  &__left {
    line-height       : 80px;
    padding-left      : 20px;
  }
  .logo_img {
    height            : 50px;
  }
}
  

.header__box__right__myPage {
  position            : absolute;
  cursor              : pointer;
  top                 : 20px;
  right               : 30px;
  z-index             : 1;
  text-align          : right;
  width               : 80px;
  &:hover {
    ul.header__box__right__myPage__list {
      display         : block;
    }
  }
  .arrow {
    width: 25px;
  }
}
  
  ul.header__box__right__myPage__list {
    position          : absolute;
    text-align        : left;
    text-decoration   : none;
    right             : 0;
    font-size         : 13px;
    background-color  : white;
    border            : 1px solid rgb(200, 200, 200);
    display           : none;
    box-shadow        : 5px 3px 5px rgba(0,0,0,0.2);
    
    li {
      border-bottom   : 1px solid rgb(200, 200, 200);
      width           : 150px;
      height          : 35px;
      line-height     : 35px;
      
      a {
        text-decoration : none;
        color           : black;
        padding         : 5px;
      }
      &:hover {
        background-color: rgb(41, 153, 252);
        transition: 0.3s ;
        a {
          color         : #fff;
        }
      }
    }
  }
// }